<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsApp</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
<section class="container-fluid bg-black">
    <div class="container bg-danger">
        <div class="row ">
            <div class="card col-4 col-md-3 " >
                <img class="card-img-top" src="..." alt="image for News">
                <div class="card-body">
                    <h5 class="card-title">hello</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                </div>
            </div>
    
        </div>
    </div>
</section>
 
  
   <script src="js/jquery-3.6.0.min.js"></script>

    
   
    <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>